.header-container {
  display: flex;
}

.header-container ul {
  list-style-type: none;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-container ul li .nav-link {
  text-decoration: none;
  color: black;
  background: rgb(235,235,235);
  background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(218,218,218,1) 59%, rgba(136,172,180,1) 100%); 
  filter: opacity(0.6);
  padding: 10px 30px;
  border-radius: 15px;
}

.active {
    background: rgb(88,88,88);
    background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(219,143,143,1) 59%, rgb(45, 189, 221) 100%); 
}

.header-container ul li .nav-link:hover {
  background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(219,143,143,1) 59%, rgba(136,172,180,1) 100%); 
  color: white;
}

.header-container ul li.grow {
  flex-grow: 1;
}

.header-container ul li {
  flex-basis: 10%;
}
