.img-wraper {
    width: 42%;
    margin-left: 5%;
}

.img-wraper img {
    width: 100%;
    height: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-top: 6%;
    width: 100%;
}

/* .login-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.login-form input {
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
}

.login-form input:placeholder-shown {
    font-size: 15px;
}

.login-form input:hover {
    border: 1px solid #bd7100;
}

.login-form input:focus {
    outline: none;
}

.content-wraper {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    font-size: 16px;
}

.content-wraper.right {
    margin-right: 5%;
}

.content-wraper h1,
.content-wraper p {
    margin: 0;
    padding: 0;
}

.p-err.hidethis {
    animation: css 0s 3s forwards;
}

@keyframes css {
    to {
        opacity: 0;
        left: -9999px;
    }
}
