.user-container {
    display: flex;
    color: black;
}

.align-user-profile {
    text-align: center;
    padding-top: 25px;
    margin: auto;
}

.profile-img {
    width: 24%;
    border-radius: 91px;
}

.icons-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    padding: 0px 22%;
}

.bnt-wrapper-edit-profile {
    margin: 9% 0px;
}
