.container.pad {
    padding: 35px;
}

.container .header {
   position: absolute;
   top: 13%;
   left: 44%;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 34%;
}

.image-wrap {
    width: 80%;
    align-self: center;
}

.image-wrap img {
    width: 100%;
    height: auto;
}

.cnt {
    font-size: 15px;
    text-align: center;
}

.card :nth-child(3) {
    align-self: center;
}
