.order-card {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 13px;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.order-card img {
    width: 130px;
    height: 180px;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
}

.quantity-wraper {
    border: 1px solid black;
}

.items-in-order {
    width: 60%;
}

.text-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 15%;
}

.right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.order-head {
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}

.order-head p {
    display: inline;
    margin-left: 23px;
    background: #ffcc00;
    padding: 3px;
}

.order-wrap-and-price {
    display: flex;
    flex-direction: column;
}

.left-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.order-btn {
    width: 100%;
    height: 50px;
    margin: 50px 0;
    font-size: 17px;
    color: white;
    background: #ffcc00;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.order-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 35%;
    padding: 35px;
}

.trash-svg {
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

.complete-order {
    display: none;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}